.heading{
    color: green;
}
.body{
   
}

.image{
    margin-top: 20px;
    width: 300px;
    border-radius: 64px 56px 128px 32px;

}
.btn{
    padding: 13px;
    border-radius: 20px;
    background-color: greenyellow;
}